/target/
/videos
scratch.txt
logs/testlogs.log
logs/requests.log
/traces
state.json
.classpath
.project
/.settings
.idea/
.env
/results
src/test/resources/data/screenshots/
.env.local
/screenshots/**/actualChart.png
/screenshots/**/diffChart.png
/testresults/
/downloads